body{
    background-color: grey;
    padding-top: 90px;
}

@media screen and (max-width:991px) {
    body{
        padding-top: 200px;
    }
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}